<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load widget_tweaks %}
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'user_app/css/login_page_styles.css' %}">
    <script src="{% static 'user_app/js/login_page_scripts.js' %}"></script>
    <script src="{% static 'user_app/js/label_info.js' %}" defer></script>
</head>
    <body>
        <header>
            <a class="logo-button" href="{% url 'home' %}">WSP</a>
        </header>

        <main class="register-container">
            <h1 class="title-page">Войти</h1>

            <form method="post">
                {% csrf_token %}

                {{ form.non_field_errors }}

                {% for field in form %}
                    <div class="input_box">
                        <div class="input-container">
                            {{ field }}
                            <label class="label_info">
                                {{ field.label }}
                            </label>
                        </div>
                        <label class="label_error">
                            {{ field.errors }}
                        </label>
                    </div>
                {% endfor %}

                <button class="button_box" type="submit">Войти</button>
                <a class="button-login" href="{% url 'register' %}">Зарегистрироваться</a>
            </form>

        </main>
    </body>
</html>