<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'user_app/css/login_page_styles.css' %}">
    <script src="{% static 'user_app/js/login_page_scripts.js' %}"></script>
</head>
    <body>
        <header>
            <a style="text-decoration: none; color: red; margin-left: 30px;" href="{% url 'home' %}">WSP</a>
        </header>

        <main>
            <h1 style="text-align: center;">Войти</h1>


        </main>
    </body>
</html>