{% extends "base_page.html" %}

{% block extra_content %}
<link rel="stylesheet" href="{% static 'main_app/css/categories_page_styles.css' %}">
{% endblock %}


{% block main_content %}

<div class="main">
  <div class="category-page">
    <h1 class="title-category">Бытовая техника</h1>
    <div class="category-item-container">
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
      <div class="category-item">
        <div class="category-image">
          <img src="{% static 'main_app/img/1.jpg' %}" alt="">
        </div>
        <span class="category-name">Встраеваемая техника</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}