{% extends "base_page.html" %}
{% load static %}

{% block extra_content %}
<link rel="stylesheet" href="{% static 'main_app/css/categories_page_styles.css' %}">
{% endblock %}


{% block main_content %}

<div class="main">
  <div class="category-page">
    <h1 class="title-category">{{ level }}</h1>
    <div class="category-item-container">
      {% for item in objects %}
        <a class="category-item" href="{{ item.get_absolute_url }}">
          <div class="category-image">
            <img src="{{ item.photo.url }}" alt="">
          </div>
          <span class="category-name">{{ item.name }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}