{% extends "base_page.html" %}

{% block extra_content %}

{% endblock %}


{% block main_content %}

<button id="load-btn">Загрузить данные</button>

<h1 id="ajax_test">Привет мир</h1>

<script>
    document.getElementById("load-btn").addEventListener("click", function()
    {
        let latestData;

        fetch("{% url 'get_data' %}")
        .then(response => response.json())
        .then(data => {document.getElementById("ajax_test").innerText = data.message;})
        .catch(error => console.error(error));
    });
</script> <!-- Не оптимайз но сойдет -->

<h1>{{ Catalog }}</h1>

{% if user.is_authenticated %}
    <h1>Вы вошли в аккаунт</h1>
{% endif %}
<h1>Привет мир</h1>
<h1>Привет мир</h1>
<h1>Привет мир</h1>
<h1>Привет мир</h1>
<h1>Привет мир</h1>
<h1>Привет мир</h1>
{% endblock %}