body{
    font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif !important;
    background: var(--bg);
}
a{
    text-decoration: none;
    color: black;
}
*{
    padding: 0;
    margin: 0;
    outline: 1px solid rgba(0, 128, 0, 0.0) !important;
}
:root{
    --black-gray: lab(22.16% 0 0);
    --gray: #999;
    --black-brown: #8C6D51;
    --white-gray: #E5E5E5;
    --white: #fff;
    --red-brown: #BC430D;
    --blue-gray: #CED3D4;
    --bg: #F9F9F9;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    color: white;
    z-index: 1100;
    margin-bottom: 75px;
}
header .menu-top{
    background: var(--white-gray);
    box-shadow: 0px 0 30px #dfdede;
    min-height: 100px;
    display: flex;
    z-index: 9999;
    position: relative;
}
header .menu-top .container-menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
}
header .menu-top .container-menu-top .logo {
    width: 240px;
    max-height: 55px;
    height: 55px;
    border-radius: 10px;
}
header .menu-top .container-menu-top .logo a{
    color: var(--black-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    margin-left: 10px;
    cursor: pointer;
}
header .menu-top .container-menu-top .search{
    flex: 1;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative;
}
header .menu-top .container-menu-top .search form{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
header .menu-top .container-menu-top .search form input{
    height: 100%;
    width: 100%;
    border: 0;
    background: var(--blue-gray);
    padding: 0 160px 0 20px !important;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    color: var(--black-gray);
}


header .menu-top .container-menu-top .search form button{
    height: 80%;
    position: absolute;
    right: 10px;
    top: 10%;
    border: 0;
    background: none;
    padding: 0 15px;
    border-radius: 12px;
}
header .menu-top .container-menu-top .search form button:hover{
    background: var(--white);
}
header .menu-top .container-menu-top .search .search-info{
    position: absolute;
    width: 100%;
    height: 200px;
    background: var(--blue-gray);
    top: 100%;
    border-top: 1px solid #c2c2c2ad;
    border-radius: 0 0 10px 10px;
    display: none;
    overflow-y: scroll;
}

header .menu-top .container-menu-top .user-actions{
    display: flex;
    margin-left: 10px;
}
header .menu-top .container-menu-top .user-actions .action-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border-radius: 12px;
    width: 90px;
    transition: all 250ms ease;
}
header .menu-top .container-menu-top .user-actions .action-btn span svg path{
    fill: var(--black-gray) !important;
}

header .menu-top .container-menu-top .user-actions .action-btn:hover{
    border-radius: 12px;
    background: var(--blue-gray);
}
header .menu-top .container-menu-top .user-actions .action-btn .action-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu-top .container-menu-top .user-actions .action-btn .action-text{
    font-size: 12px;
    line-height: 18px;
    color: var(--black-gray);
    font-weight: bold;
}

.search-item {
    width: 100%;
    height: 50px;
    background: var(--blue-gray);
    color: black;
    padding: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.search-item:hover {
    background: #ccc;
}

header .menu-bottom-container{
    max-width: 1380px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    will-change: transform;
    transition: none; /* по умолчанию без анимации */
}
header .menu-bottom-container.ready{
  transition: transform 0.35s ease; /* включаем анимацию после инициализации */
}
header .menu-bottom-container .open-window-catalog{
    border: 0;
    width: 240px;
    height: 56px;
    font-size: 19px;
    border-radius: 0 0 10px 10px;
    color: var(--white);
    font-weight: 700;
    background: var(--red-brown);
    padding: 10px 16px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

header .menu-bottom{
    display: block;
    width: 100%;
    background: var(--white-gray);
    padding: 0;
    border-radius: 0 0 10px 0;
    max-height: 0;
    transition: all 0.4s ease;
    overflow: hidden;
}
header .menu-bottom.active{
    display: block;
}
header .menu-bottom .catalog{
    padding: 0;
}
header .menu-bottom .catalog .dropdown-content{
    display: flex;
}
header .menu-bottom .catalog .dropdown-content .categories{
    width: 219px;
    height: auto;
    padding: 10px 10px 10px 10px;
    background: var(--white-gray);
    border-right: 1px solid #bc430d57;
}
header .menu-bottom .catalog .dropdown-content .categories .category-btn{
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    padding: 8px 0 8px 12px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.active_btn{
    display: flex;
    align-items: center;
    margin: 0 -1px;
    font-size: 16px;
    background-color: var(--blue-gray);
    border-radius: 12px;
    padding: 8px 0 8px 12px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
header .menu-bottom .catalog .dropdown-content .categories .category-btn-a{
    color: var(--black-brown);
}
header .menu-bottom .catalog .dropdown-content .categories .category-text-active{
    color: var(--black-gray) !important;
}
header .menu-bottom .catalog .dropdown-content .subcategories{
    flex: 1;
    padding: 10px;
}
header .menu-bottom .catalog .dropdown-content .subcategories .sub-item{
    color: black;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    padding: 8px 0 8px 12px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
header .menu-bottom .catalog .dropdown-content .subcategories .sub-item:hover{
    background-color: var(--blue-gray);
}
.main{
    min-height: 30vh;
}