.main{
    max-width: 1380px;
    margin: auto;
}
.category-page{
    width: 100%;
}
.category-page .title-category{
    font-size: 25px;
    color: var(--black-gray);
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.category-page .category-item-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
    width: 1380px;
}
.category-page .category-item-container .category-item{
    border-radius: 8px;
    box-shadow: 0 1px 2px #00000029;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    padding: 24px 20px 0px;
    height: 234px;
}
.category-page .category-item .category-image{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 120px;
    line-height: 150px;
}
.category-page .category-item .category-image img{
    width: 120px;
}
.category-name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    margin: 12px auto;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    color: #4e4e4e;
}