.favorite-btn {
    background: rgba(0, 0, 0, 0.141);
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
}

.favorite-btn:hover {
    background: rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

.favorite-btn.active {
    background: #ff0000;
}

.favorite-btn svg {
    width: 20px;
    height: 20px;
    transition: fill 0.2s ease;
}

.favorite-btn:not(.active) svg {
    fill: #fff;
}

.favorite-btn.active svg {
    fill: #fff;
}

.product-add-cart{
    background: none;
    border: 1px solid red;
    padding: 7px 15px;
    height: 55px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 250ms;
}
.product-add-cart_active{
    background: var(--white-gray);
    border: 1px solid black;
    padding: 7px 15px;
    height: 55px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 250ms;
}
.product-add-cart svg path{
    transition: all 250ms;
}
.product-add-cart:hover{
    background: var(--white-gray);
}
.product-add-cart:hover > svg path{
    fill: #da5b20;
}
