body{
    height: 2000px;
    font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif !important;
    background: #f7f7f7;
}
a{
    text-decoration: none;
    color: black;
}
*{
    padding: 0;
    margin: 0;
    outline: 1px solid rgba(0, 128, 0, 0.0) !important;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
}
header .menu-top{
    background: #fff;
    box-shadow: 0px 0 30px #dfdede;
    min-height: 100px;
    display: flex;
}
header .menu-top .container-menu-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1380px;
    margin: 0 auto;
    gap: 15px;
    width: 100%;
}
header .menu-top .container-menu-top .logo {
    width: 240px;
    background: linear-gradient(0deg, #fc8507, #ffa218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    max-height: 55px;
    height: 55px;
    border-radius: 10px;
}
header .menu-top .container-menu-top .logo a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
}
header .menu-top .container-menu-top .logo .open-window-catalog{
    border: 0;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    background: #ffffff1f;
    padding: 10px 16px 10px 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
header .menu-top .container-menu-top .search{
    flex: 1;
    height: 55px;
    display: flex;
    align-items: center;
}
header .menu-top .container-menu-top .search form{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}
header .menu-top .container-menu-top .search form input{
    height: 100%;
    width: 100%;
    border: 0;
    background: #f7f7f7;
    padding: 0 160px 0 20px !important;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    color: #333;
}


header .menu-top .container-menu-top .search form button{
    height: 80%;
    position: absolute;
    right: 10px;
    top: 10%;
    border: 0;
    background: none;
    padding: 0 15px;
    border-radius: 12px;
}
header .menu-top .container-menu-top .search form button:hover{
    background: #FFF;
}







header .menu-top .container-menu-top .user-actions{
    display: flex;
}
header .menu-top .container-menu-top .user-actions .action-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border-radius: 12px;
    width: 90px;
    transition: all 250ms ease;
}

header .menu-top .container-menu-top .user-actions .action-btn:hover{
    border-radius: 12px;
    background: #f7f7f7;
}
header .menu-top .container-menu-top .user-actions .action-btn .action-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .menu-top .container-menu-top .user-actions .action-btn .action-text{
    font-size: 12px;
    line-height: 18px;
    color: #4e4e4e;
    font-weight: bold;
}






header .menu-bottom{
    display: none;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ededed;
    position: absolute;
    padding: 20px 0;
}
header .menu-bottom.active{
    display: block;
}
header .menu-bottom .catalog{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0;
}
header .menu-bottom .catalog .dropdown-content{
    display: flex;
}
header .menu-bottom .catalog .dropdown-content .categories{
    width: 240px;
    height: auto;
    padding: 0 10px;
    background: #fff;
}
header .menu-bottom .catalog .dropdown-content .categories .category-btn{
    display: flex;
    align-items: center;
    margin: 0 -1px;
    font-size: 16px;
    padding: 8px 0 8px 12px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.active_btn{
    display: flex;
    align-items: center;
    margin: 0 -1px;
    font-size: 16px;
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 8px 0 8px 12px;
    border-left: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.category-text-active{
    color: #fc8507 !important;
}
header .menu-bottom .catalog .dropdown-content .subcategories{
    flex: 1;
}