.profile_main
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile_main .profile_second_main
{
    height: 100vh;
    width: 60%;
    background-color: #E5E5E5;
    box-shadow: 0 20px 40px gray;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

dialog[open]
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

