.profile_main
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile_second_main
{
    height: 100vh;
    width: 60%;
    background-color: #E5E5E5;
    box-shadow: 0 20px 40px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile_main_form
{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

