body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    font-family: Montserrat, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif !important;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

header
{
    position: absolute;
    top: 0;
    right: 0;
    height: 9vh;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    align-items: center;
}

main
{
    height: auto;
    width: 400px;
    background: #FFFAFA;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #dfdede;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form
{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.input_box
{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label_info
{
    margin-left: 8px;
    position: absolute;
    background: white;
    border-style: solid;
    border-width: 0px 8px 0px 8px;
    border-color: white;
    pointer-events: none;
    transition: all 0.1s;
}

input
{
    height: 36px;
    border-radius: 6px;
    position: relative;
    font-size: 18px;
    border-style: none;
    box-shadow: 0 5px 10px #696969;
}

input:focus
{
    outline: none;
    box-shadow: 0 1px 5px #696969;
}

input:focus + .label_info
{
    margin-top: -48px;
    font-size: 14px;
}

input::selection + .label_info
{
    margin-top: -48px;
    font-size: 14px;
}

.label_error
{
    color: red;
}

.button_box
{
    width: 140px;
    height: 36px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 5px 10px #696969;
}

.button_box:active
{
    box-shadow: 0 1px 5px #696969;
}

.social_container
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0px 0px 30px 0px;
}

